html, body {margin: 0; height: 100%;}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/background.png');
}

/* Hamburger Styling */

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bar-width: 40px;
    --bar-height: 4px;
    --hamburger-gap: 8px;
    --foreground: rgb(59, 59, 59);
    --background: none;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2)
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    cursor: pointer;
    padding: 15px;
    background-color: rgb(225, 236, 250);
    border-radius: 0px 0px 0px 10px;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width
    var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    width: var(--x-width);
    rotate: 45deg;
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    width: var(--x-width);
    rotate: -45deg;
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

/* Container Styling */

.container {
    display: grid;
    grid-template-rows: 70px 1fr;
    background-color: aliceblue;
    width: 80%;
    min-height: 750px;
    border-radius: 10px;
}

@media (width <= 1500px) {
    .container {
        height: 100%;
        width: 100%;
    }
}

@media (height <= 750px) {
    body {
        align-items: start;
    }
}

/* Header Styling */

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(94, 94, 143);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(152, 197, 240);
}

.header img {
    height: 80%;
    margin-left: 20px;
}

.header div {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* Styling for the bottom left side (sidebar) */

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
    width: 230px;
    opacity: 1;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    width: 0px;
    background-color: rgb(225, 236, 250);
    border-right: 1px solid rgb(152, 197, 240);
    border-radius: 0px 0px 0px 10px;
    padding-top: 80px;
    padding-left: 4px;
    opacity: 0;
    overflow-y: auto;
}

nav button {
    display: block;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 25px;
    color: rgb(77, 75, 75);
    transition: all 0.2s ease-in-out;
}

nav button:hover {
    transform: scale(1.2);
}

.fa-circle-plus {
    font-size: 25px;
    margin-left: 5px;
}

.notes .fa-circle-plus {
    margin-left: 29px;
}

/* Styling for the bottom right side */

.main-right {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 30px;
}

.add-task {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color:rgb(225, 236, 250);
    width: 90%;
    padding: 15px;
    border-radius: 12px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease-in-out;
}

.add-task:hover {
    transform: scale(1.05);
    color: rgb(45, 141, 219);
}

.add-task:active {
    transform: scale(.8);
}

.fa-beat-fade {
    font-size: 30px;
}

/* Styling for Task Form */

.add-task-form {
    width: 500px;
    height: 600px;
    background-color: lightblue;
}

.add-task-form h1 {
    padding-left: 20px;
}

fieldset {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
}

input, select, fieldset button {
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(17, 77, 156);
}

input:invalid {
    border: 2px solid red;
}

label span {
    color: red;
}