*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {margin: 0; height: 100%; overflow: hidden}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/background.png');
}

/* Hamburger Stuff */
:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
}

.container {
    display: grid;
    grid-template-rows: 70px 1fr;
    background-color: aliceblue;
    width: 80%;
    min-height: 750px;
    border-radius: 10px;
}

@media (width <= 1500px) {
    .container {
        height: 100%;
        width: 100%;
    }
}

@media (width <= 1000px) {
    
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(94, 94, 143);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(152, 197, 240);
}

.header img {
    height: 80%;
    margin-left: 20px;
}

.header div {
    color: aliceblue;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

/* Styling for the bottom left side */

.main-left {
    background-color: rgb(225, 236, 250);
    border-right: 1px solid rgb(152, 197, 240);
    border-radius: 0px 0px 0px 10px;
    padding-top: 50px;
}

.sidebar button {
    display: block;
    border: none;
    background: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
    color: rgb(77, 75, 75);
    transition: all 0.2s ease-in-out;
}

.sidebar button:hover {
    transform: scale(1.2);
}

.fa-circle-plus {
    font-size: 25px;
    margin-left: 5px;
}

.notes .fa-circle-plus {
    margin-left: 29px;
}

/* Styling for the bottom right side */

.main-right {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 30px;
}

.add-task {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color:rgb(225, 236, 250);
    width: 90%;
    padding: 15px;
    border-radius: 12px;
    font-size: 25px;
    font-family: 'Abel', sans-serif;
    transition: all 0.3s ease-in-out;
}

.add-task:hover {
    transform: scale(1.05);
    color: rgb(45, 141, 219);
}

.fa-beat-fade {
    font-size: 30px;
}

